<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BD"  value="CFDI2"/>
    <add key="folio"  value="12563"/>

  </appSettings>

  <connectionStrings>
    <add name="Sistema" connectionString="server=VESDB\SQL2016;database=PYROTEKA;uid=SYSADM;pwd=SYSADM" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>